<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Formulário de cadastro de Notícia</title>
  </head>
  <body>
    <h1>Adicionar notícia</h1>
    <form action="/noticias/salvar" method="POST">
      <label for="titulo">Título</label>

      <input
        type="text"
        id="titulo"
        name="titulo"
        placeholder="Título da notícia"
      />
      <br />
      <label for="noticia">Notícia</label>
      <br />
      <textarea name="noticia" id="noticia" cols="30" rows="10"></textarea>
      <br />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
